@import "reset.css";

.hidden {
  display: none;
}

#clock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 200px;
  font-weight: 600;
  color: whitesmoke;
  background-color: black;
}
